<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.toast.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.toast.min.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            <script src="https://kit.fontawesome.com/b1b7b84a16.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {{ include('partials/navbar.html.twig') }}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
